python-dotenv
pydantic
google-genai

langchain
langchain-core
langchain-community
langchain-google-genai
langchain-text-splitters
langchain-chroma
langchain-ollama
langchain-mcp-adapters
langgraph
docling
mcp[cli]

jupyter
ipykernel
rich
